 body {
    background-size:100%;
   }
.div-va{
   width:30%w;
   margin:0 auto;
   height:200px;
   border-radius:20px;
   margin-top:100px;
   /*第一个头像栏 距离顶部的距离*/
  }
.div-v12{
   width:96%;
   height:200px;
   background-color:#ffffff;
   opacity:0.5;
   position:absolute;
   border-radius:20px;
  }
.div-v13{
  position:absolute;
  width:96%;
  height:200px;
  }
.dic-img{
  background-image:url("http://shp.qpic.cn/collector/3623241658/b1dc5dea-cd10-4c40-a654-835d98d4b374/0");
  width:100px;
  height:100px;
  margin:0 auto;
  background-size:100%;
  border-radius:50px;
  margin-top:50px;
  }
.div-img-pa{
   width:100%;
   text-align:center;
   
  }
 .topav{
   width:100%;
   height:50px;
   }
 .topavspan{
    display:inline-block;
    height:30px;
    margin-left:10px;
    text-align:center;
    line-height:30px;
   }
.divtop-a{
  width:100%;}
.topavspan-img{
  width:30px;
  height:30px;
  margin-right:10px;
  }
.sentence_div-a button{
  background-color:#fffefe;
  height:30px;
  }
.sentence_divb{
  width:100%;
  height:100%;
  margin-top:10px;
  }
.sentence_data_a{
  width:100%;
  background-color:#ffffff;
  opacity:0.4;
  border-radius:10px;
  }
.sentence_data_a p {
   line-height:50px;
   margin-left:10px;
  }
.topav{
   width:30px;
   height:30px;
   border-radius:50%; 
  }
.tuoal{
  position:absolute;
  right:10px;
  
  }
@keyframes textfangda{
   0%{font-size:15px;}
   100%{font-size:20px;}
  }